# Eclipse
/.classpath
/.project
/.settings

# Netbeans
/nbproject

# Maven
/build.xml
/target

# vim
.*.sw[a-p]

# Mac
.DS_Store

# IntelliJ
atlassian-ide-plugin.xml
*.iml
*.ipr
*.iws
.idea/

# various other potential build files
/build
/bin
/dist
/manifest.mf
/.metadata
